<section class="text-center home-section">
    <div class="container">
        <h4 class="mb-4 fs-3 text-light">Choice Yours</h4>
        <hr>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 rounded-5">
                    <div class="card-body">
                        <a href="/preview-link">
                            <img class="card-img-top rounded-4" src="/img/link-preview.png" alt="linkpreview">
                        </a>
                        <a href="/preview-link" class="fs-5 text-warning text-decoration-none fw-bold card-link">LinkPreview</a>
                        <p class="card-text card-text">With the LinkPreview API, you can programmatically obtain detailed website information, including the title, preview image, and brief description, for any given URL.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 rounded-5">
                    <div class="card-body">
                        <a href="/file-io">
                            <img class="card-img-top rounded-4" src="/img/file.io.png" alt="fileio">
                        </a>
                        <a href="/file-io" class="fs-5 text-warning text-decoration-none fw-bold card-link">file.io</a>
                        <p class="card-text card-text">Simply upload a file, share the link, and after it is downloaded, the file is completely deleted. For added security, set an expiration on the file and it is deleted within a certain amount of time, even if it was never downloaded. All files are encrypted when stored on our servers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 rounded-5">
                    <div class="card-body">
                        <a href="/random-user/get">
                            <img class="card-img-top rounded-4" src="/img/random-user-generator.gif" alt="randomuser">
                        </a>
                        <a href="/random-user/get" class="fs-5 text-warning text-decoration-none fw-bold card-link">Random User Generator</a>
                        <p class="card-text card-text">The Random User Generator provides a free service to generate random user data for application testing. With random user data crafted for diverse use cases, you can test better with ready-made user data across your project.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
