<div class="container d-flex flex-column align-items-center">
    <div class="w-100 d-flex justify-content-center mb-3">
        <div class="w-100" style="max-width: 500px;">
            <a href="/" title="Back" class="mb-3 text-decoration-none text-warning fw-bold fs-5">
                &#10229;
            </a>
        </div>
    </div>
    <div class="card w-100 h-auto rounded-5 text-center text-white p-3" style="max-width: 500px;">
        <h1 class="text-light fw-bold">Get Metadata</h1>
        <input type="text" class="form-control mb-3" placeholder="Enter url" id="url-input">
        <button class="btn btn-outline-light mt-3 mb-4 fw-bold" id="fetch-data">Pull</button>
        <pre class="fst-italic" id="result"></pre>
    </div>
</div>
