<div class="container d-flex flex-column align-items-center">
    <div class="w-100 d-flex justify-content-center mb-3">
        <div class="w-100" style="max-width: 500px;">
            <a href="/" title="Back" class="mb-3 text-decoration-none text-warning fw-bold fs-5">
                &#10229;
            </a>
        </div>
    </div>
    <div class="card w-100 h-auto rounded-5 text-white p-3" style="max-width: 500px;">
        <h1 class="text-light fw-bold">Random User Generator</h1>
        <div class="fst-italic" id="userDetails">
            <p class="text-link">Name: <span id="name"></span></p>
            <p class="text-link">Birth date: <span id="birthdate"></span></p>
            <p class="text-link">Age: <span id="age"></span></p>
            <p class="text-link">Naturalness: <span id="naturalness"></span></p>
            <p class="text-link">Email: <span id="email"></span></p>
            <p class="text-link">Phone: <span id="phone"></span></p>
            <div class="text-center">
                <img class="img-fluid rounded-circle" id="picture" src="" alt="User Picture">
            </div>
        </div>
        <button class="btn btn-outline-light mt-3 mb-4 fw-bold" id="generateUser">Generate Random User</button>
    </div>
</div>
