<header class="text-center py-2 mb-5 header-warning bg-gradient pt-4 pb-2">
    <h1 class="display-6 text-black fw-bold fs-3 text">"The worker who wants to do his job well should start, by sharpening his tools."</h1>
    <p class="text-black fst-italic">~Confucius~</p>
</header>