<nav class="text-white navbar navbar-expand-lg">
    <div class="container">
        <a class="text-white navbar-brand" href="/">
            <img src="/img/application-icon.ico" alt="logo"> <strong> TOOLS HUB</strong>
        </a>
        <button style="background-color: #999;" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <li class="nav-item">
                    <a id="star" title="Star us on GitHub!"
                        href="https://github.com/Compass-pb-aws-2024-JUNHO/sprints-2-3-pb-aws-junho/tree/grupo-3"
                        target="_blank" class="nav-link text-link">
                        Star
                    </a>
                </li>
                <a href="mailto:toolshubdevs@gmail.com?subject=New Tools!"
                    class="btn btn-outline-warning text-outline-black fw-bold" target="_blank">
                    Submit Yours
                </a>
            </ul>
        </div>
    </div>
</nav>